export API_ID=""
export API_HASH=""
export SESSION_STRING=""

# sqlite/sqlite3 atau mongo/mongodb
export DB_TYPE=sqlite3
# nama file untuk sqlite3, nama database untuk mongodb
export DB_NAME=userbot.sqlite

# hanya untuk mongodb
export DB_URL=