certifi==2022.5.18.1
charset-normalizer==2.0.12
idna==3.3
pyaes==1.6.1
Pyrogram==2.0.27
PySocks==1.7.1
requests==2.27.1
TgCrypto==1.2.3
urllib3==1.26.9
reload==0.9
pymongo[srv]==4.1.1
dnspython==2.2.1
Pillow==9.2.0
asyncio==3.4.3